<a href="https://colab.research.google.com/github/JaimeOcean/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Jaime_A_2_2_LS_DS_122_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
# 1. Generate and numerically represent a confidence interval
from scipy.stats import ttest_ind, ttest_1samp
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [0]:
cv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

In [4]:
vote = pd.read_csv(cv_url)
vote.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [5]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', na_values=" ?")
print(df.shape)
df.head()

(434, 17)

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [0]:
columns_header = ('Class', 'Handicapped infants', 'Water', 'Adoption', 'Physician', 'Salvador', 'Religious', 'Antisatellite', 'AidtoNicaragua', 'Mxmissile', 'Immigration', 'Synfuels', 'Education', 'Superfund', 'Crime', 'Dutyfree', 'ExportSoAf')

In [0]:
# Columns list
# 1. Class Name: 2 (democrat, republican)
# 2. handicapped-infants: 2 (y,n)
# 3. water-project-cost-sharing: 2 (y,n)
# 4. adoption-of-the-budget-resolution: 2 (y,n)
# 5. physician-fee-freeze: 2 (y,n)
# 6. el-salvador-aid: 2 (y,n)
# 7. religious-groups-in-schools: 2 (y,n)
# 8. anti-satellite-test-ban: 2 (y,n)
# 9. aid-to-nicaraguan-contras: 2 (y,n)
# 10. mx-missile: 2 (y,n)
# 11. immigration: 2 (y,n)
# 12. synfuels-corporation-cutback: 2 (y,n)
# 13. education-spending: 2 (y,n)
# 14. superfund-right-to-sue: 2 (y,n)
# 15. crime: 2 (y,n)
# 16. duty-free-exports: 2 (y,n)
# 17. export-administration-act-south-africa: 2 (y,n)

In [0]:
cv = pd.read_csv(cv_url, names=columns_header)

In [9]:
cv.head()

        Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0  republican                   n     y  ...     y        n          y
1  republican                   n     y  ...     y        n          ?
2    democrat                   ?     y  ...     y        n          n
3    democrat                   n     y  ...     n        n          y
4    democrat                   y     y  ...     y        y          y

[5 rows x 17 columns]

In [10]:
cv.shape

(435, 17)

In [11]:
df.isnull().sum()

republican    0
n             0
y             0
n.1           0
y.1           0
y.2           0
y.3           0
n.2           0
n.3           0
n.4           0
y.4           0
?             0
y.5           0
y.6           0
y.7           0
n.5           0
y.8           0
dtype: int64

In [0]:
cv = pd.read_csv(cv_url, names=columns_header, na_values="?")

In [13]:
cv.head()

        Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0  republican                   n     y  ...     y        n          y
1  republican                   n     y  ...     y        n        NaN
2    democrat                 NaN     y  ...     y        n          n
3    democrat                   n     y  ...     n        n          y
4    democrat                   y     y  ...     y        y          y

[5 rows x 17 columns]

In [0]:
df = pd.DataFrame(cv)

In [37]:
df.replace({'n': None})

          Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0    republican                None     y  ...     y     None          y
1    republican                None     y  ...     y     None        NaN
2      democrat                 NaN     y  ...     y     None       None
3      democrat                None     y  ...  None     None          y
4      democrat                   y     y  ...     y        y          y
..          ...                 ...   ...  ...   ...      ...        ...
430  republican                None  None  ...     y     None          y
431    democrat                None  None  ...  None     None          y
432  republican                None   NaN  ...     y     None          y
433  republican                None  None  ...     y     None          y
434  republican                None     y  ...     y      NaN       None

[435 rows x 17 columns]

In [40]:
df.replace({'y': 1})

          Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0    republican                   n     1  ...     1        n          1
1    republican                   n     1  ...     1        n        NaN
2      democrat                 NaN     1  ...     1        n          n
3      democrat                   n     1  ...     n        n          1
4      democrat                   1     1  ...     1        1          1
..          ...                 ...   ...  ...   ...      ...        ...
430  republican                   n     n  ...     1        n          1
431    democrat                   n     n  ...     n        n          1
432  republican                   n   NaN  ...     1        n          1
433  republican                   n     n  ...     1        n          1
434  republican                   n     1  ...     1      NaN          n

[435 rows x 17 columns]

In [42]:
df.replace({'republican' : 'R'})

        Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0           R                   n     y  ...     y        n          y
1           R                   n     y  ...     y        n        NaN
2    democrat                 NaN     y  ...     y        n          n
3    democrat                   n     y  ...     n        n          y
4    democrat                   y     y  ...     y        y          y
..        ...                 ...   ...  ...   ...      ...        ...
430         R                   n     n  ...     y        n          y
431  democrat                   n     n  ...     n        n          y
432         R                   n   NaN  ...     y        n          y
433         R                   n     n  ...     y        n          y
434         R                   n     y  ...     y      NaN          n

[435 rows x 17 columns]

In [44]:
df.replace({'democrat' : 'D'})

          Class Handicapped infants Water  ... Crime Dutyfree ExportSoAf
0    republican                   n     y  ...     y        n          y
1    republican                   n     y  ...     y        n        NaN
2             D                 NaN     y  ...     y        n          n
3             D                   n     y  ...     n        n          y
4             D                   y     y  ...     y        y          y
..          ...                 ...   ...  ...   ...      ...        ...
430  republican                   n     n  ...     y        n          y
431           D                   n     n  ...     n        n          y
432  republican                   n   NaN  ...     y        n          y
433  republican                   n     n  ...     y        n          y
434  republican                   n     y  ...     y      NaN          n

[435 rows x 17 columns]

In [0]:
# Change ALL
# cv = np.where(cv== 'y', 1, 0)

In [108]:
cv['Class'].map(['republican' : 'R', 'democrat' : 'D'])

SyntaxError: ignored

In [109]:
cv.head()

AttributeError: ignored

In [110]:
df.describe()

AttributeError: ignored

In [0]:
from scipy.stats import ttest_ind, ttest_1samp

In [105]:
print(df.shape)

(435, 17)

In [112]:
df.isnull().sum()

AttributeError: ignored

In [51]:
cv['Immigration'].value_counts(dropna=False)

y      216
n      212
NaN      7
Name: Immigration, dtype: int64

In [52]:
cv['Immigration'].value_counts(dropna=True)

y    216
n    212
Name: Immigration, dtype: int64

In [0]:
# Eliminate missing data
cv['Immigration'].dropna(inplace=True)

In [60]:
df['Immigration'].describe()

count     428
unique      2
top         y
freq      216
Name: Immigration, dtype: object

In [28]:
df['Immigration'].value_counts().index[0]

'y'

In [53]:
import numpy as np
np.nan

nan

In [54]:
type(np.nan)

float

In [61]:
small=cv[['Immigration', 'Water', 'Religious']].copy()
small.sample(5)

    Immigration Water Religious
259           n     n         n
348           y     n         n
395           n     y         n
34            n     y         n
1             n     y         y

In [62]:
df['Immigration'].mean

<bound method Series.mean of 0        y
1        n
2        n
3        n
4        n
      ...
430      y
431      y
432      n
433    NaN
434      y
Name: Immigration, Length: 435, dtype: object>

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)